<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Mode</title>
   
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/2.2.2/css/dataTables.bootstrap5.css">
  
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'sr' %}">Service Request <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'tr' %}">Track Request <span class="sr-only"></span></a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'cs' %}">Customer Executive Mode<span class="sr-only"></span></a>
        </li>
      </ul>
    </div>
  </nav>
  <div id="sr">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="form-group">
            <label for="exampleFormControlInput1">Name</label>
            <input name="nm" type="text" class="form-control mt-1" id="exampleFormControlInput1" placeholder="Enter Name">
          </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Service Request Type</label>
            <select class="form-control mt-1" name="srt" id="exampleFormControlSelect1">
              <option>Select Option</option>
              <option>Technical Support</option>
              <option>Billing & Account Support</option>
              <option>Product/Service Request</option>
              <option>General Queries</option>
            </select>
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Service Description</label>
            <textarea class="form-control mt-1" name="sd" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile1"></label>
            <input name="img" type="file" class="form-control-file mt-1" id="exampleFormControlFile1">
          </div>
          <input class="btn btn-primary mt-1" type="submit" value="Submit">
        </form>
      </div>
    </div>
  </div>
  </div>

  <!-- JavaScript -->
  <!-- <script>
    new DataTable('#example');
  </script> -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
  <!-- Bootstrap 5 JS -->
  

</body>

</html>